@page "/Normal"
@using System.Timers

<style>
    .container {
        margin-left: 40px;
        width: 450px;
        float: left;
    }

    jonathan {
        margin-right:unset;
        width: 40px;
        height: 50px;
    }

    button {
        width: 70px;
        height: 70px;
        font-size: 50px;
    }
</style>

<div class="container">
    <div class="row">
        @for (var animalNumber = 0; animalNumber < shuffledAnimals.Count; animalNumber++)
        {
            var animal = shuffledAnimals[animalNumber];
            var uniqueDescription = $"Button #{animalNumber}";
            <div class="col-2">
                <button @onclick="@(() => ButtonClick(animal, uniqueDescription))"
                        type="button" class="btn btn-outline-dark">
                    <h1>@animal</h1>
                </button>
            </div>
        }
    </div>
</div>

<div class="jonathan">

    <div class="container" style="height:400px">
        <div class="border border-dark" style="background-color:whitesmoke">
            <div class="text-center">
                <h3>CUADRADO DE PUNTAJE</h3>
            </div>
        </div>

        <div class="border border-dark" style="background-color:whitesmoke">
            <h4>Pares: @matchesFound</h4>
            <h4>Tiempo: @timeDisplay</h4>
        </div>

    </div>
</div>

@code {
    List<string> animalEmoji = new List<string>()
{
        "🐶","🐶",
        "🐺","🐺",
        "🐮","🐮",
        "🦊","🦊",
        "🐱","🐱",
        "🦁","🦁",
        "🐯","🐯",
        "🐹","🐹",
        "💣","💣",
        "👹","👹",
        "💯","💯",
        "👾","👾",
        "👻","👻",
        "🤖","🤖",
        "🧙🏽‍♂️","🧙🏽‍♂️",
        "🧛🏼‍♀️","🧛🏼‍♀️",
        "👩🏽‍🔬","👩🏽‍🔬",
        "👩🏽‍🚀","👩🏽‍🚀",
    };

    List<string> shuffledAnimals = new List<string>();
    int matchesFound = 0;
    Timer timer;
    int tenthsOfSecondsElapsed = 0;
    string timeDisplay;

    protected override void OnInitialized()
    {
        timer = new Timer(100);
        timer.Elapsed += Timer_Tick;

        SetUpGame();
    }

    private void SetUpGame()
    {
        Random random = new Random();
        shuffledAnimals = animalEmoji
            .OrderBy(item => random.Next())
            .ToList();
        matchesFound = 0;
        tenthsOfSecondsElapsed = 0;
    }

    private void Reiniciar()
    {
        Random random = new Random();
        shuffledAnimals = animalEmoji
            .OrderBy(item => random.Next())
            .ToList();
        tenthsOfSecondsElapsed = 0;
    }

    string lastAnimalFound = string.Empty;
    string lastDescription = string.Empty;

    private void ButtonClick(string animal, string animalDescription)
    {
        if (lastAnimalFound == string.Empty)
        {
            // First selection of the pair. Remember it.
            lastAnimalFound = animal;
            lastDescription = animalDescription;
            if (matchesFound == 18)
            {
                matchesFound = 0;
            }

            timer.Start();
        }
        else if ((lastAnimalFound == animal) && (animalDescription != lastDescription))
        {
            // Match found! Reset for next pair.
            lastAnimalFound = string.Empty;

            // Replace found animals with empty string to hide them.
            shuffledAnimals = shuffledAnimals
                .Select(a => a.Replace(animal, string.Empty))
                .ToList();

            matchesFound++;
            if (matchesFound == 18)
            {
                timer.Stop();
                timeDisplay += " ¿Jugar de nuevo?";

                Reiniciar();
            }
        }
        else
        {
            // User selected a pair that don't match.
            // Reset selection.
            lastAnimalFound = string.Empty;
        }
    }

    private void Timer_Tick(Object source, ElapsedEventArgs e)
    {
        InvokeAsync(() =>
        {
            tenthsOfSecondsElapsed++;
            timeDisplay = (tenthsOfSecondsElapsed / 10F)
                .ToString("0.0s");
            StateHasChanged();
        });
    }
} 