@inherits LayoutComponentBase


<div class="sidebar"style="background: linear-gradient(to bottom, #6600cc 0%, #9933ff 100%); ">
    <NavMenu />
</div>

<div class="main">

    <div class="content px-4">

        @Body

    </div>
</div>
